@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover; 
}
.neonText {
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #6c5ce7,
  0 0 82px #6c5ce7,
  0 0 92px #6c5ce7,
  0 0 102px #6c5ce7,
  0 0 151px #6c5ce7;
}
h1, h2 {
  text-align: center;
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: #fff;
  
}

header {
  display: flex;
  background-color: #6c5ce7;
  position: relative;
  z-index: 99;
  flex-direction: row-reverse;
  height: 10%;
  border-bottom: solid;
}

nav {
  width: 50%;
  margin: 0 auto;
  background-color: #6c5ce7;
  position: sticky;
  top: 0px;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  margin-top: 1.89%;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: white;
}
.titre, h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 80px;

}
.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: #6c5ce7;
  position: absolute;
  width: 100%;
  z-index: 1;
}
nav > ul li:hover .sous {
  display: flex;
  flex-flow: column wrap;
}

.sous li {
  flex: 1 1 auto;
  text-align: left;
}
.sous a {
  padding: 10px;
  border-bottom: none;
}
.sous a:hover {
  transition-property: all;
  transition-duration: 1s;
  border-bottom: none;
  background-color: white;
  color: #6c5ce7;
}
.deroulant > a::after {
  content: " ▼";
  font-size: 12px;
}

.deroulant {
  display: flex;
  align-items: flex-start;
}

.accueil {
  background-color: white;
  margin: auto;
  margin-right: 10%;
  border-radius: 25%;
  padding: 1%;
  text-decoration: none;
}
.accueil:hover {
  transition-property: all;
  transition-duration: 2s;
  letter-spacing: 2px;
  box-shadow: white 2px 2px 2px 5px;
}
.accueil a {
  text-decoration: none;
}

.container {
  width: 400px;
  min-height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
}

.container .login-text {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}
.container .login-social {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-bottom: 25px;
}

.container .login-social a {
  padding: 12px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  transition: 0.3s;
}
.container h1{
  text-align: center;
  font-size: 15px;
}

.container .login-social a i {
  margin-right: 5px;
}

.container .login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login-email .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
  border-color: #a29bfe;
}

.container .login-email .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #a29bfe;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: #6c5ce7;
}

.login-register-text {
  color: #111;
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: #6c5ce7;
}

@media (max-width: 430px) {
  .container {
    width: 300px;
  }
  .container .login-social {
    display: block;
  }
  .container .login-social a {
    display: block;
  }
}
